<ion-view view-title="Front" class="background-back">
	<ion-content>
		<div class="list custom-icon_font">
			<div class="app-form">
				<div class="app-tite">
					<div class="title">
						<img src="img/app_logo_front.svg">
					</div>
					<div class="punch-line">
						Connecting <span><b></b>People</b></span> for <span><b>Good</b></span>
					</div>
					<div class="punch-line">
						Admin panel
					</div>
				</div>
				
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="app-form-universal-container-footer-container">
		<div class="action-area">
			<button class="action action-done action-border action-width-100p" ng-click="goToSignIn()" type="button">
				<div class="icon">
					<i class="ion-log-in"></i>
				</div>
				<div class="text">
					Sign In
				</div>
			</button>
		</div>
	</ion-footer-bar>
</ion-view>