<ion-view view-title={{_stringConst.UPDATE_PASSWORD}} class="background-modal">
	<ion-header-bar class="app-bar-blue">
    	<h1 class="title">{{_stringConst.UPDATE_PASSWORD.toUpperCase()}}</h1>
  	</ion-header-bar>
  	<form name="updatePasswordForm" novalidate="" ng-submit="updatePassword(updatePasswordForm)">
		<ion-content>
			<div class="list custom-icon_font">
				<div class="app-form">
				  	<div class="list">
				  		<div class="info">
							{{_stringConst.UPDATE_PASSWORD_INFO}}
						</div>
						</br>
						<!-- email -->
				 		<label class="item-input" ng-class="{ 'has-errors' : updatePasswordForm._userEmail.$invalid, 'no-errors' : updatePasswordForm._userEmail.$valid}">
					  		<div class="icon">{{_stringConst.EMAIL}}</div>
					  		<input type="email" name="_userEmail" ng-model="_updatePasswordFormData._userEmail" placeholder = "name@example.com"required>
						</label>
						<div class="error-container" ng-show="updatePasswordForm._userEmail.$error" ng-messages="updatePasswordForm._userEmail.$error">
					  		<div ng-messages-include="templates/error/error-email.html"></div>
						</div>
						<!-- email -->
						<!-- password -->
						<label class="item-input" ng-class="{ 'has-errors' : updatePasswordForm._userPassword.$invalid, 'no-errors' : updatePasswordForm._userPassword.$valid}">
					  		<div class="icon">{{_stringConst.PASSWORD}}</div>
					  		<input type="password" name="_userPassword" ng-model="_updatePasswordFormData._userPassword" ng-pattern="_pattern._passwordPattern" required>
						</label>
						<div class="error-container" ng-show="updatePasswordForm._userPassword.$error" ng-messages="updatePasswordForm._userPassword.$error">
					  		<div ng-messages-include="templates/error/error-password.html"></div>
						</div>
						<!-- password -->
						</br>
					</div>
				</div>
			</div>
		</ion-content>
		<ion-footer-bar align-title="left" class="app-form-universal-container-footer-container">
			<div class="action-area">
				<button class="action action-cancel action-border" ng-click="cancelUpdatePasswordForm()" type="button">
					<div class="icon">
						<i class="ion-close"></i>
					</div>
					<div class="text">
						{{_stringConst.CANCEL}}
					</div>
				</button>
				<button class="action action-done" type="submit" ng-disabled="updatePasswordForm.$invalid">
					<div class="icon">
						<i class="ion-checkmark-round"></i> 
					</div>
					<div class="text">
						{{_stringConst.UPDATE_PASSWORD}}
					</div>
				</button>
			</div>
		</ion-footer-bar>
	</form>
</ion-view>