<ion-view view-title="Account Verification" class="background-modal">
	<ion-header-bar class="app-bar-blue">
    	<h1 class="title">ACCOUNT VERIFIVATION</h1>
  	</ion-header-bar>
	<ion-content>
		<div class="list custom-icon_font">
			<div class="app-form">
			  	<div class="list">
			  		<form name="accountActivationForm" novalidate="" ng-submit="userAccountVerification(accountActivationForm)">
			  			<div class="info">
							We will send you a verification code on the same email id. Use the id to activate your account. 
						</div>
						</br>
				 		<label class="item-input" ng-class="{ 'has-errors' : accountActivationForm.angularTripUserEmail.$invalid, 'no-errors' : accountActivationForm.angularTripUserEmail.$valid}">
					  		<div class="icon">email</div>
					  		<input type="email" name="angularTripUserEmail" ng-model="_accountActivationFormData.angularTripUserEmail" placeholder = "name@example.com"required>
						</label>
						<div class="error-container" ng-show="accountActivationForm.angularTripUserEmail.$error" ng-messages="accountActivationForm.angularTripUserEmail.$error">
					  		<div ng-messages-include="templates/error/error-email.html"></div>
						</div>

						<label class="item-input" ng-class="{ 'has-errors' : accountActivationForm.angularTripUserVerificationCode.$invalid, 'no-errors' : accountActivationForm.angularTripUserVerificationCode.$valid}">
					  		<div class="icon">code</div>
					  		<input type="text" name="angularTripUserVerificationCode" ng-model="_accountActivationFormData.angularTripUserVerificationCode" ng-pattern="_pattern._verificationCodePattern" placeholder="5649d682e5721" required>
						</label>
						<div class="error-container" ng-show="accountActivationForm.angularTripUserVerificationCode.$error" ng-messages="accountActivationForm.angularTripUserVerificationCode.$error">
					  		<div ng-messages-include="templates/error/error-verification-code.html"></div>
						</div>
						<div class="page-text">
							Lost verification code? <a ng-click="resendActivationCode(accountActivationForm)">Resend it It</a>
						</div>
						<div class="submit-button-area">
							<button class="app-button-cancel width-50-percent float-left" ng-click="cancelUserAccountVerification()" type="button">
								Cancel
							</button>
								<button class="app-button-submit-blue width-50-percent float-left" type="submit" ng-disabled="accountActivationForm.$invalid">
								Activate
				  			</button>
						</div>
						<div class="page-text">
							Already activated account? <a ng-click="goToSignIn()">Sign in</a>
						</div>
			  		</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>