<ion-view view-title="About" class="background">
	<ion-header-bar class="app-bar-blue">
    	<h1 class="title">About</h1>
  	</ion-header-bar>
  	<ion-nav-buttons side=left>
        <a class="button button-icon icon fa fa-list-ul" ng-click="openLeftMenu()"></a> 
    </ion-nav-buttons>
	<ion-content>
		<div class="list custom-icon_font">
			<div class="app-form">
				<div class="app-tite">
					<div class="title">
						<img class="title-image" src="img/app_logo_front.svg"/>
					</div>
					<div class="punch-line">
						Connecting <span><b></b>People</b></span> for <span><b>Good</b></span>
					</div>
					<div class="info">
						Version 1.0.0
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="background display-block height-15-percent app-text-color-white">
		<center>Contact us at <br>support@rollingarray.co.in</center>
	</ion-footer-bar>
</ion-view>