<ion-view view-title="Front" class="background">
	<ion-content>
		<div class="list custom-icon_font">
			<div class="app-form">
				<div class="app-tite">
					<div class="title">
						<img class="title-image" src="img/app_logo_front.svg"/>
					</div>
					<div class="punch-line">
						Connecting <span><b></b>People</b></span> for <span><b>Good</b></span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="background display-block height-15-percent">
  		<button class="app-button-submit-white float-left width-40-percent" type="button" ng-click="goToSignIn()">
			SIGN IN
		</button>
		<button class="app-button-submit-blue float-right width-40-percent " type="button" ng-click="goToSignUp()">
			SIGN UP
		</button>
	</ion-footer-bar>
</ion-view>