<ion-modal-view class="background-blue">
	<ion-header-bar class="app-bar-blue">
    	<h1 class="title">HOW TripPal HELPS</h1>
    	<button class="button button-icon icon fa fa-times" ng-click="modal.remove()"></button>
  	</ion-header-bar>
  	<ion-content>
  		<div class="app-form-in">
            <div class="list">
                <div class="noTrip">
                	<!-- Trips -->
                    <img class="title-image" src="img/get_started/no_trip.svg" width="300" style="color:#fff"/>
                    <div class="icon">
                        <i class="ion-information-circled"></i>
                    </div>
                    <div class="text-high app-text-color-black" >
                        You can create trips and add members, share expenses among members
                    </div>
                    
                    <!-- join trip -->
                    <img class="title-image" src="img/get_started/join_trip.svg" width="300" style="color:#fff"/>
                    <div class="icon">
                        <i class="ion-information-circled"></i>
                    </div>
                    <div class="text-high app-text-color-black" >
                        You can join a trip form the list of active trips or trip admin can request you to join
                    </div>
                    
                    <!-- admin -->
                    <img class="title-image" src="img/get_started/trip_admin.svg" width="300" style="color:#fff"/>
                    <div class="icon">
                        <i class="ion-information-circled"></i>
                    </div>
                    <div class="text-high app-text-color-black" >
                        As an administrator you will be responsible for managing trip such as adding members, approval and settlement 
                    </div>

                    <!-- expenses -->
                    <img class="title-image" src="img/get_started/split_expense.svg" width="300" style="color:#fff"/>
                    <div class="icon">
                        <i class="ion-information-circled"></i>
                    </div>
                    <div class="text-high app-text-color-black" >
                        You can see who owes whom and settle down once paid. You can calculate expoenses for future trips

                    </div>

                    <!-- hostory -->
                    <img class="title-image" src="img/get_started/trip_history.svg" width="300" style="color:#fff"/>
                    <div class="icon">
                        <i class="ion-information-circled"></i>
                    </div>
                    <div class="text-high app-text-color-black" >
                        You can close a trip and it will be moved to history, you can re-open as required
                        </br></br></br> 
                    </div>
                </div>
            </div>
        </div>
	</ion-content>
</ion-modal-view>