<style type="text/css">
	.logo_back{
		background-color: #56C2E1;
	}
	.app-icon {
	    color: #56C2E1;
	    font-family: 'SofiaRegular', sans-serif;
	    font-size: 100px;
	    margin: 50px auto;
	    width: 1024px;
	    height: 1024px;
	    /*background: #fff !important;*/
	}

	.app-icon .first {

	    color: #000;
	    font-family: 'SofiaRegular', sans-serif;
	    text-align: center;
	    font-size: 700px;
	    width: 1024px;
		margin-top: 387px;
	    height: 512px;
	    margin-top: 350px;
	    text-shadow: 20px 20px 10px #fff;
	}

	.app-icon .second {
	    color: #000;
	    font-family: 'SofiaRegular', sans-serif;
	    text-align: center;
	    font-size: 700px;
	    width: 1024px;
	    height: 512px;
	    margin-top: 632px;
		margin-left: 163px;
	    text-shadow: 20px 20px 10px #fff;
	}
</style>
<ion-view view-title="Front" class="logo_back">
	<ion-content>
		<div class="app-icon">
			<div class="first">
				<b>T</b>
			</div>
			<div class="second">
				<b>P</b>
			</div>
		</div>
	</ion-content>
</ion-view>