<ion-view view-title="Forgot Password" class="background">
	<ion-header-bar class="app-bar-blue">
    	<h1 class="title">REST PASSWORD CODE</h1>
  	</ion-header-bar>
	<ion-content>
		<div class="list custom-icon_font">
			<div class="app-form">
			  	<div class="list">
			  		<form name="resetPasswordCodeForm" novalidate="" ng-submit="resetPasswordCode(resetPasswordCodeForm)">
			  			<div class="info">
							We will send you a reset code on the same email id. Use the id to reset your password. 
						</div>
						</br>
				 		<label class="item-input" ng-class="{ 'has-errors' : resetPasswordCodeForm.userEmail.$invalid, 'no-errors' : resetPasswordCodeForm.userEmail.$valid}">
					  		<div class="icon">email</div>
					  		<input type="email" name="userEmail" ng-model="_resetPasswordCodeFormData.userEmail" placeholder = "name@example.com"required>
						</label>
						<div class="error-container" ng-show="resetPasswordCodeForm.userEmail.$error" ng-messages="resetPasswordCodeForm.userEmail.$error">
					  		<div ng-messages-include="templates/error/error-email.html"></div>
						</div>
						<div class="submit-button-area">
							<button class="app-button-cancel width-40-percent float-left" ng-click="cancelResetPasswordCodeForm()" type="button">
								Cancel
							</button>
								<button class="app-button-submit-blue width-60-percent float-left" type="submit" ng-disabled="resetPasswordCodeForm.$invalid">
								Rest Password
				  			</button>
						</div>
						<div class="page-text">
							Already have password reset code? <a ng-click="goUpdatePassword()">Update password</a>
						</div>
			  		</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>