<ion-view view-title="Front" class="background">
	<ion-content>
		<div class="list custom-icon_font">
			<div class="app-icon">
					<div class="first">
						<b>T</b>
					</div>
					<div class="second">
						<b>P</b>
					</div>
				</div>
				<br>
			<div class="app-form">
				<div class="app-tite">
					<div class="title">
						TripPal
					</div>
					<div class="punch-line">
						Calculate your trip <span>Expenses</span> on the <span><b>GO</b></span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="background display-block height-15-percent">
		<div class="app-born">
			-- Born in <span>India</span> --
		</div>
	</ion-footer-bar>
</ion-view>