<ion-modal-view view-title="TERMS & CONDITIONS">
	<ion-header-bar class="app-bar-blue">
    	<h1 class="title">TERMS & CONDITIONS</h1>
    	<button class="button button-icon icon fa fa-times" ng-click="modal.remove()"></button>
  	</ion-header-bar>
  	<ion-content>
  		<div STYLE="margin: 10px; font-size: 18px">	
			<P STYLE="margin-bottom: 0in"><BR>BY USING THE WEBSITE OR APP AND THE
			SERVICES OFFERED ON THE WEBSITE AND APP, YOU AGREE TO FOLLOW AND BE
			BOUND BY THESE TERMS AND CONDITIONS AND THE TRIPPAL PRIVACY POLICY
			WHICH ARE HEREBY INCORPORATED BY REFERENCE. IF YOU DO NOT WISH TO BE
			BOUND BY THESE TERMS AND CONDITIONS AND THE PRIVACY POLICY, YOU MAY
			NOT ACCESS OR USE THIS WEBSITE OR APP AND THE SERVICES OFFERED ON THE
			WEBSITE OR VIA THE APP.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">You represent and warrant that you are
			authorized to enter into this Agreement on behalf of yourself and/or
			the entity that you purport to represent.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">In order to participate in or receive
			certain Services, you may be required to download software or content
			and/or agree to additional terms and conditions. Unless otherwise
			provided by the additional terms and conditions applicable to the
			Services in which you choose to participate or that you choose to
			receive, those additional terms are hereby incorporated into this
			Agreement. To the extent there is a conflict between the terms in
			this Agreement and the terms and conditions posted for a specific
			area of the Website or App or in connection with a Service, the
			latter shall have precedence with respect to your use of that area of
			the Website, App or Service.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">Amendments. TripPal may modify this
			Agreement from time to time and such modification shall be effective:
			(1) for Users who first use the Services after the posting, upon
			posting by TRIPPAL on the Website, (2) for existing Users, thirty
			(30) days after posting by TRIPPAL on the Website, or (3) for
			existing Members, if the modifications to the Agreement are material,
			thirty (30) days after TripPal sent an e-mail containing a
			notification of such modifications and the continued use of the
			Services by the Member thereafter, which shall constitute the
			Member’s acceptance of the amended Agreement. If you do not agree
			to the modification, you must cease your use of the Services.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">1. Eligibility. By using the Services,
			you represent and warrant that: (a) all required registration
			information you submit is truthful and accurate; (b) you will
			maintain the accuracy of such information; (c) you are eighteen(18)
			years of age or older; and (d) your use of the Services does not
			violate any applicable law or regulation. Your TripPal Account (the
			“Account”) may be deleted without warning if we believe that you
			are younger than eighteen(18).<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">2. Term. This Agreement shall remain in
			full force and effect while you use the Services or are a Member. You
			may delete your Account and end your membership at any time, for any
			reason by following the instructions on the “My TripPal Account”
			page. TripPal MAY TERMINATE YOUR MEMBERSHIP AT ANY TIME AND FOR ANY
			REASON, EFFECTIVE UPON SENDING NOTICE TO YOU AT THE THEN-CURRENT
			E-MAIL ADDRESS IN YOUR ACCOUNT PROFILE. 
			</P>
			<P STYLE="margin-bottom: 0in">You understand that termination of this
			Agreement and your Account involves deletion of your TripPal profile
			information from our live databases as well as any Content that you
			uploaded to the TripPal Website or App using such Account. TripPal
			will not have any liability whatsoever to you for any termination of
			your Account or related deletion of your information.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">3. Fees. You acknowledge that TripPal
			reserves the right to charge for Services and to change its fees from
			time to time in its discretion, upon posting by TripPal on the
			Website or in the App. Upon using the Services, you will be
			responsible for the payment of any applicable fees, and shall pay
			such fees to TripPal as set forth on the Website or in the App.</P>
			<P STYLE="margin-bottom: 0in"><BR>
			</P>
			<P STYLE="margin-bottom: 0in">4. Your Content and Activity. You are
			solely responsible for any and all Book Content and Other Content
			that is posted by or through your Account on any Services (including
			any Content that you may have received by third parties) including
			any e-mail, or included in Books submitted by you for print services,
			and for your interactions with other Users. You agree that TripPal
			retains the right to create limits on TripPal's archiving of such
			data, including but not limited to the right to delete such data
			after a certain period without a purchase or to charge for extended
			storage of such data.<BR>	4.1 Prohibited Content. YOU MAY NOT INCLUDE
			“PUBLISHED BY TripPal,” “TripPal PUBLISHING” OR ANY OTHER
			REFERENCE THAT DIRECTLY OR INDIRECTLY SUGGESTS OR IMPLIES THAT
			TripPal IS THE PUBLISHER OF THE BOOKS THAT YOU CREATE USING THE
			SERVICES. You agree that you will not post, submit for print
			services, or otherwise provide to the Services, any Prohibited
			Content. “Prohibited Content” includes Book Content or Other
			Content that: (i) is offensive, pornographic, or promotes racism,
			bigotry, hatred or physical harm of any kind against any group or
			individual; (ii) bullies, harasses, or advocates stalking, bullying,
			or harassment, of another person; (iii) involves the transmission of
			“junk mail,” “chain letters,” unsolicited mass mailing, or
			“spamming,”; (iv) is false or misleading or promotes, endorses or
			furthers illegal activities or conduct that is abusive, threatening,
			obscene, defamatory or libelous; (v) promotes, reproduces, performs
			or distributes an illegal or unauthorized copy of another person’s
			work that is protected by copyright or trade secret law, such as
			providing pirated computer programs or links to them, providing
			information to circumvent manufacturer-installed copy-protection
			devices, or providing pirated music or links to pirated music files;
			(vi) is involved in the exploitation of persons under the age of 18
			in a sexual or violent manner, or solicits personal information from
			anyone under 13; (vii) provides instructional information about
			illegal activities such as making or buying illegal weapons,
			violating someone’s privacy, or providing or creating computer
			viruses and other harmful code; (viii) solicits passwords or
			personally identifying information for commercial or unlawful
			purposes from other Users; (ix) contains viruses, Trojan horses,
			worms, time bombs, cancelbots, corrupted files, or similar software;
			(x) violates any applicable law, including, but not limited to laws
			and regulations governing export control, unfair competition,
			anti-discrimination and false advertising; (xi) involves commercial
			activities that are detrimental to the interests of TripPal; or (xii)
			otherwise violates this Agreement or creates liability for TripPal. 
			</P>
			<P STYLE="margin-bottom: 0in">TripPal RESERVES THE RIGHT TO REFUSE TO
			PRINT ANY BOOK THAT CONTAINS CONTENT THAT IT DETERMINES IN IT SOLE
			DISCRETION IS PROHIBITED CONTENT, and you agree to indemnify and hold
			TripPal and its subsidiaries, affiliates, officers, employees,
			suppliers, service providers, and partner companies harmless for any
			claims, losses, liabilities and expenses arising out of or relating
			to any breach of this section.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">	4.2 Your Profile. Any Content posted
			by you in your profile may not contain nudity, violence, sexually
			explicit, or offensive subject matter. You may not post or submit for
			print services a photograph of another person without that person’s
			permission.<BR>	</P>
			<P STYLE="text-indent: 0.5in; margin-bottom: 0in">4.3 Member
			Interaction. You will not use (a) the Services and (b) any
			information obtained from the Services in order to harass, abuse,
			send Spam to, or harm another person, or in order to contact,
			advertise to, solicit, or sell to any User without their prior
			explicit consent.<BR><BR>
			</P>
			<P STYLE="text-indent: 0.5in; margin-bottom: 0in">4.4 No Disruption.
			You will not: (i) cover or obscure the banner advertisements that
			might be placed on your personal profile page, or any TripPal page
			via HTML/CSS, scripting, or any other means, if any; (ii) interfere
			with, disrupt, or create an undue burden on the Services or the
			networks or services connected to the Services; or (iii) introduce
			software or automated agents to the Services, generate automated
			messages, or to strip or mine data from the Services.<BR><BR>
			</P>
			<P STYLE="text-indent: 0.5in; margin-bottom: 0in">4.5 Miscellaneous.
			You will not attempt to impersonate another User or person, including
			any employee of TripPal. You will use the Services in a manner
			consistent with any and all applicable laws and regulations.<BR><BR>
			</P>
			<P STYLE="text-indent: 0.5in; margin-bottom: 0in">4.6 Enforcement by
			TripPal. TripPal has the right (but not the obligation) to review any
			Content and delete any Content that in the sole judgment of TripPal
			violates this Agreement; is Prohibited Content, is illegal, violates
			the rights, harms, or threatens the safety of any User or any other
			person; or creates liability for TripPal, its suppliers, service
			providers, partner companies, or any User. TripPal reserves the right
			(but has no obligation) to investigate and take action in its sole
			discretion against you if you violate this provision or any other
			provision of this Agreement, including without limitation, removing
			Prohibited Content from the Services, terminating your membership,
			reporting you to law enforcement authorities, and taking legal action
			against you.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">5. Copyright Policy. It is TripPal’s
			policy to terminate membership privileges of any Member who infringes
			copyright upon prompt notification to TripPal by the copyright owner
			or the copyright owner’s legal agent. Without limiting the
			foregoing, if you believe that your work has been copied and posted
			on the Services or used in any Book in a way that constitutes
			copyright infringement, please provide our Copyright Agent with the
			following information: (i) an electronic or physical signature of the
			person authorized to act on behalf of the owner of the copyright
			interest; (ii) a description of the copyrighted work that you claim
			has been infringed; (iii) a description of the location on the
			Service of the material that you claim is infringing; (iv) your
			address, telephone number, and email address; (v) a written statement
			by you that you have a good faith belief that the disputed use is not
			authorized by the copyright owner, its agent, or the law; (vi) a
			statement by you, made under penalty of perjury, that the above
			information in your notice is accurate and that you are the copyright
			owner or authorized to act on the copyright owner’s behalf.</P>
			<P STYLE="margin-bottom: 0in"><BR>
			</P>
			<P STYLE="margin-bottom: 0in">6. Responsibility. Your interactions
			with other Users or third parties, or with advertisers, including
			payment and delivery of goods or services, and any other terms,
			conditions, warranties or representations associated with such
			dealings, are solely between you and the other User, the advertiser,
			or third party. The foregoing also applies to any interaction between
			Members (including the contribution and/or receipt of any Content) in
			the course of using the Services’ functionality to make
			contributions to the books of other Members and to receive
			contributions from other Members to your own Books. You agree that
			TripPal will not be responsible for any loss or damage incurred as
			the result of any such interactions and dealings listed in this
			section or with respect to any other User’s use or disclosure of
			your personally identifiable information. If there is a dispute
			between you and any third party (including any User), TripPal is
			under no obligation to become involved; however, TripPal reserves the
			right to monitor disputes between you and other Users.<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in">7. Third-Party Links. The provision of
			links to other websites or locations is for your convenience and does
			not signify our endorsement of such other websites or locations or
			their contents. Links to other Websites or locations may also be
			posted by other Users within the TripPal community. TripPal has no
			control over, does not review, and cannot be responsible for, these
			outside websites or their content. Please be aware that the terms of
			our Privacy Policy do not apply to these outside websites.</P>
		</div>
	</ion-content>
</ion-modal-view>