<ion-view view-title='Volunteer Speak' class="background">
	<ion-header-bar class="app-bar-blue">
    	<!-- <h1 class="title">{{angularPageTitle}}</h1> -->
  	</ion-header-bar>
  	<ion-nav-buttons side=left>
        <a class="button button-icon icon fa fa-list-ul" ng-click="openLeftMenu()"></a> 
    </ion-nav-buttons>
	<ion-content>
		<div class="list custom-icon_font">
			<div class="app-form">
			  	<div class="list">
			  		<div class="info">
							We would be happy to hear your feedback on
						</div>
			  		<form name="volunteerSpeakForm" novalidate="" ng-submit="volunteerSpeak(volunteerSpeakForm)">
							</br>
							<label class="item-input" ng-class="{ 'has-errors' : volunteerSpeakForm.userFeedback.$invalid, 'no-errors' : volunteerSpeakForm.userFeedback.$valid}">
									<textarea rows="10" cols="50" type="text" name="userFeedback" ng-model="_volunteerSpeakFormData.userFeedback" placeholder = "Tell us what you liked and didn't like, it will help us to improve" ng-pattern="_pattern._descriptionPattern" required>
									</textarea>
							</label>
							<div class="error-container" ng-show="volunteerSpeakForm.userFeedback.$error" ng-messages="volunteerSpeakForm.userFeedback.$error">
									<div ng-messages-include="templates/error/error-description.html"></div>
							</div>
							<div class="submit-button-area">
								<button class="app-button-submit-blue width-100-percent float-left" type="submit" ng-disabled="volunteerSpeakForm.$invalid">
									Send
								</button>	
							</div>
			  		</form>
			  		<!-- social share -->
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>