<body style="background:#272125">
<div style="font-family:Helvetica,Arial,sans-serif;font-size:14px;width:100%!important;min-height:100%;line-height:1.6;background:#272125;margin:0;padding:0">
				<table style="font-family:Helvetica,Arial,sans-serif;font-size:14px;width:100%;background:#272125;margin:0;padding:0">
					<tbody>

						<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
							<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:0" valign="top"></td>
							<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;display:block!important;max-width:300px!important;clear:both!important;margin:0 auto;padding:0" valign="top" width="300">
								<div style="font-family:Helvetica,Arial,sans-serif;font-size:14px;max-width:300px;display:block;margin:0 auto;padding:20px">
									<table style="font-family:Helvetica,Arial,sans-serif;font-size:14px;border-radius:3px;background:#fff;margin:0;padding:0;border:1px solid #e9e9e9" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr style="border:0">
												<td style="border:0">
													<img src="email-logo.jpg" style="border:0">
												</td>
											</tr>
											<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
												<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:20px" valign="top">
													<table style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0" cellpadding="0" cellspacing="0" width="100%">
														<tbody>
															<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
																<td style="font-family:Helvetica,Arial,sans-serif;font-size:12px;vertical-align:top;margin:0;padding:0 0 0px;float:right" valign="top">
																	'.$date.'
																</td>
															</tr>
															<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
																<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:0 0 20px" valign="top">
																	Dear <strong style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">ranjoy Sen
																	</strong>
																</td>
															</tr>
															<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
																<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:0 0 20px" valign="top">
																	You or someone with your email id signed up at TripPal. Your account is almost ready, but before you login you need to confirm your email by applying below verification code in the app.
																	<br><br>
																	<table border=0 style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:0 0 20px">
																        <tr>
																            <td><b>Verification code</b></td>
																            <td>56be070979f2e</td>
																        </tr>
																        
																	</table>
																	
																	Once you verify, your account will be active.
																	<br><br>
																</td>
															</tr>
															<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
																<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:0 0 20px" valign="top"><b>
																	Regards<br>
																	Team TripPal</b>
																</td>
															</tr>
															<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
																<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:0 0 20px;font-style:italic" valign="top">
																	TripPal - Calculate your trip Expenses on the GO
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
									<div style="font-family:Helvetica,Arial,sans-serif;font-size:14px;clear:both;margin:0;padding:20px">
										<table style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0;color:#fff" width="100%">
											<tbody>
												<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0,">
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:12px;vertical-align:top;text-align:center;margin:0;padding:0 0 5px" align="center" valign="top">You are receiving this notification because you have registered with <span style="color:#56C2E1">TripPal</span></td>
												</tr>
												<tr style="font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0;padding:0">
													<td style="font-family:Helvetica,Arial,sans-serif;font-size:12px;vertical-align:top;text-align:center;margin:0;padding:0 0 5px;" align="center" valign="top">
														&copy; 2016 TripPal, Bangalore, India. 
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</td>
							<td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;vertical-align:top;margin:0;padding:0" valign="top"></td>
						</tr>
					</tbody>
				</table>
			</div>
			</body>